{% extends 'base.html' %}

{% block conteudo %}
    <h1>Cidades cadastradas:</h1>
<p>
    {% if request.user.is_authenticated %}
<a class="btn btn-primary" href="{% url 'cidades-cadastro' %}">Cadastrar nova cidade</a>
    {% endif %}
</p>
    <ul class="list-group">

        {% for cidade in cidades %}
        <a class="list-group-item list-group-item-action {% if cidade.capital %} active {% endif %}" href="{% url 'cidades-detalhe' cidade.id %}" >{{ cidade.nome }}</a>
        {% endfor %}

    </ul>
{% endblock %}