{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIDIA</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'auth/style.css' %}">
</head>
<body>

<div class="container bootstrap snippets bootdey">
    <div class="lc-block col-md-4 col-md-offset-4 toggled" id="l-login">
        <form method="POST">
            {% csrf_token %}
            {% if form.errors %}
                <div class="btn btn-block btn-danger btn-float m-t-25">
                    Usuário ou senha inválidos!
                </div>
            <br />
            {% endif %}
            <div class="lcb-float"><i class="fa fa-users"></i></div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Usuário" name="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Senha" name="password">
            </div>
            <div class="clearfix"></div>

                <a href="{% url 'password_reset' %}" class="btn btn-warning btn-block btn-float">Esqueceu a senha?</a>
            <button type="submit" class="btn btn-block btn-primary btn-float m-t-25">Entrar</button>
        </form>
    </div>
</div>

</body>
</html>


